---
import Layout from '../layouts/Layout.astro';
import About from '../layouts/About.astro';
import ProjectCards from '../components/ProjectCards.astro';
import Hero from '../layouts/Hero.astro';
import ContactForm from '../layouts/ContactForm.astro';
---

<Layout title='Snowin | Personal Site'>
  <section
    id='home'
    class='main-gradient h-[48vh] lg:min-h-screen grid place-items-center'
  >
    <Hero />
  </section>

  <section class='my-16 px-8 lg:px-36 lg:my-24' id='stories'>
    <About />
  </section>

  <section id='projects' class='flex flex-col items-center my-16 px-8 lg:px-36'>
    <ProjectCards />
  </section>

  <section id='contact' class='flex flex-col items-center gap-10 px-8 lg:px-36'>
    <ContactForm />
  </section>
</Layout>
