<h1 class='heading'>#Stories</h1>
<p class='my-4 text-lg text-[#12121280] md:text-xl lg:text-2xl lg:my-8'>
  Yes, as previously stated, I am a full-stack developer. I create software for
  small businesses and startups.
  <br />
  <br />
  Aside from that, I am an introvert. I enjoy working in groups, but I haven't had
  the chance to do so.
</p>
