<div
  class='w-[18rem] md:w-full mx-auto text-center flex flex-col justify-center items-center gap-4 my-32'
>
  <h1 class='heading lg:text-8xl'>Hi there !!</h1>
  <p class='text-lg md:w-[22rem] lg:text-2xl'>
    I'm Snowin fullstack developer based in India.
  </p>
</div>
