<nav
  id='mobileMenu'
  class='hidden lg:hidden px-8 w-full min-h-screen flex-col justify-center items-center gap-8 animate-open-menu'
>
  <a href='#home' class='text-xl' id='mobileLink'>Home</a>
  <a href='#stories' class='text-xl' id='mobileLink'>Stories</a>
  <a href='#contact' class='text-xl' id='mobileLink'>Contact</a>
  <a href='#projects' class='text-xl' id='mobileLink'>Portofolio</a>
</nav>

<script></script>
