---
import { Icon } from 'astro-icon';
import Menubar from './Menubar.astro';
---

<header
  class='z-10 fixed top-0 left-0 w-full transition-all duration-500 ease-in-out'
>
  <nav
    class='h-full p-8 lg:px-32 flex justify-between items-center text-[#12121280]'
  >
    <!-- primary nav -->
    <div class='hidden lg:flex items-center gap-8'>
      <a href='#home' class='hover:text-primaryDark'>Home</a>
      <a href='#stories' class='hover:text-primaryDark'>Stories</a>
    </div>

    <!-- logo -->
    <h1 class='text-2xl text-primaryDark font-bold'>
      <a href='#home'>Snowin</a>
    </h1>

    <!-- secondary nav -->
    <div class='hidden lg:flex items-center gap-8'>
      <a href='#projects' class='hover:text-primaryDark'>Portofolio</a>
      <a href='#contact' class='hover:text-primaryDark'>Contact</a>
    </div>

    <!-- mobile nav button -->
    <button id='btnOpen' class='lg:hidden'>
      <Icon name='radix-icons:hamburger-menu' class='w-6' color='#121212' />
    </button>
    <button id='btnClose' class='hidden lg:hidden'>
      <Icon name='radix-icons:cross-1' class='w-6' color='#121212' />
    </button>
  </nav>

  <!-- mobile menu -->
  <Menubar />
</header>

<style>
  .scroll-down {
    /* transition: all 0.3s ease-in-out; */
    transform: translate3d(0, -100%, 0);
  }
  .scroll-up {
    /* transition: all 0.3s ease-in-out; */
    background-color: #00000002;
    backdrop-filter: blur(60px);
    background-clip: padding-box;
  }
</style>

<script>
  const header = document.querySelector('header');
  const mobileMenu = document.querySelector('#mobileMenu');
  const links = document.querySelectorAll('#mobileLink');
  const btnOpen = document.querySelector('#btnOpen');
  const btnClose = document.querySelector('#btnClose');

  const toggleMenu = () => {
    mobileMenu.classList.toggle('hidden');
    mobileMenu.classList.toggle('flex');
    btnClose.classList.toggle('hidden');
    btnOpen.classList.toggle('hidden');
  };

  const closeMenu = () => {
    mobileMenu.classList.add('hidden');
    mobileMenu.classList.remove('flex');
    btnClose.classList.add('hidden');
    btnOpen.classList.remove('hidden');
  };

  btnOpen.addEventListener('click', () => {
    header.classList.add('scroll-up');
    toggleMenu();
  });
  btnClose.addEventListener('click', toggleMenu);

  links.forEach((link) => {
    link.addEventListener('click', toggleMenu);
  });

  let lastScroll = 0;
  window.addEventListener('scroll', () => {
    closeMenu();
    const currentScroll = window.pageYOffset;
    if (currentScroll <= 0) header.classList.remove('scroll-up');
    if (
      currentScroll > lastScroll &&
      !header.classList.contains('scroll-down')
    ) {
      header.classList.remove('scroll-up');
      header.classList.add('scroll-down');
    }
    if (
      currentScroll < lastScroll &&
      header.classList.contains('scroll-down')
    ) {
      header.classList.add('scroll-up');
      header.classList.remove('scroll-down');
    }
    lastScroll = currentScroll;
  });
</script>
